<section class="welcome-banner">
  <mat-card class="banner-card">
    <mat-card-title class="banner-title">¡Bienvenido a eSale!</mat-card-title>
    <mat-card-content>
      <p class="banner-text">
        🔥 Las mejores rebajas del año te esperan. Encontrá tus productos favoritos al mejor precio. ¡Apurate antes que vuelen! 🛒
      </p>
    </mat-card-content>
  </mat-card>
</section>

<section class="hero">
  <mat-card *ngFor="let product of featuredProducts">
    <mat-card-header>
      <mat-card-title>
        {{ product.articulo.marcaNombre }} {{ product.articulo.modelo }}
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <img
        *ngIf="product.articulo.imageUrl"
        [src]="product.articulo.imageUrl"
        alt="{{ product.articulo.modelo }}"
        class="product-image"
      />
      <p>{{ product.articulo.descripcion }}</p>
      <p>Precio: ${{ product.articulo.precioSinIVA }}</p>
    </mat-card-content>

    <mat-card-actions>
      <button *ngIf="mostrarBoton()" mat-button color="primary">
        Añadir al carrito
      </button>
    </mat-card-actions>
  </mat-card>
</section>
